@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic);

* { margin: 0; padding: 0; }

body { background: rgba(250, 190, 190, 1); color: #455; font-family: 'Cantarell', sans-serif; }

 #contenedor { max-width: 1024px; width: 100%; margin: 0 auto; }

 #titulo { margin-top: 10%; text-align: center; }

 #input { width: 500px; height: 220px; background: white; border: 2px solid #333; padding: 10px;} 

 #input:active { border: 2px solid lightblue;}

 #input:focus { border: 2px solid lightgoldenrodyellow;}

 #editor { margin-top: 10%; }

 textarea { font-size: 22px; padding: 5px; border: 0; border-bottom: 2px solid #3AA; display: block; }

button { padding: 10px; background: rgb(93, 140, 155); border: none; box-shadow: 1px 1px 1px rgb(93, 93, 93);
		letter-spacing: 1px; font-family: 'Cantarell'; cursor: pointer; color: rgb(220, 185, 185); font-size: 13px; }

button:hover { box-shadow: none; }

#textEditor { float: right; border: 2px solid #EE9; padding: 7px; height: 150px; width: 400px; overflow:scroll; white-space: pre; }

#mostrar { display: block; clear: both; padding-top: 10%; }

#editShow { float: right; }

#textShow { margin-top: 3%; min-height: 150px; min-width: 100px; word-wrap: break-word; clear:  both; max-width: 1024px; width: 100%; }

#textHTML { float: right; clear: both; }

::selection { background: #b7F2ff; }

.boton { margin: 0 2px; padding: 10px; 
		background: rgb(93, 140, 155); box-shadow: 1px 1px 1px rgb(93, 93, 93); margin-top: 10px;
		letter-spacing: 1px; font-family: 'Cantarell'; cursor: pointer; color: rgb(220, 185, 185); font-size: 13px;}

.boton:hover { box-shadow: none; }

.btnLigero { font-weight: normal; color: rgb(250, 185, 185); font-size: 16px; }

.btnSize { background: rgb(93, 193, 173); color: rgb(73, 73, 73); }

#codigo { clear: both; margin-top: 10%; display: inline-block; font-size: 20px;
    color: rgb(32, 32, 32); margin-bottom: 10%; line-height: 30px; 
	word-wrap: break-word; }

#botones { max-width: 480px; width: 100%; }

.matz {text-decoration: none; font-size: 18px !important; color: inherit; }

.oscura { font-weight: bold; }
.cursiva { font-style: italic; }
.versalita { font-variant: small-caps; }
.marka { background: rgb(63, 200, 220); }
.del { text-decoration: line-through; }
.unde { text-decoration: underline; }
.ove { text-decoration: overline; }
.sub { vertical-align: sub; font-size: smaller; }
.sup { vertical-align: super !important; font-size: smaller; }



#fontSize { float: left; max-width: 350px; }

#showSize { font-weight: bolder; }

